:root{
    --header-color: #B5EAEA;
}
body{
    padding: 0;
    margin: 0;
    text-align: center;
}
.head{
    background-color: var(--header-color);
    position: relative;
    margin: auto;
    padding: 6rem 0 0 0;
    position: relative;
}
.top-cloud{
    position: absolute; 
    top: 4rem;
    right: 30%;
}
 
.bottom-cloud{
    position: absolute;
    left: 40%rem;
    top: 12rem;
    
} 